:root {
  --header: gray;
  --main: lightgreen;
  --sidebar: lightblue;
  --footer: gray;
  --board: lightgray;
}

* {
  box-sizing: border-box;
  font-family: 'Inter';
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-rows: 75px 1fr 75px;
  grid-template-areas: 
    "header header"
    "main sidebar"
    "footer footer";
}

.header {
  background-color: var(--header);
  grid-area: header;
}

.main {
  background-color: var(--main);
  grid-area: main;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  background-color: var(--board);
  height: 400px;
  width: 400px;
}

.sidebar {
  background-color: var(--sidebar);
  grid-area: sidebar;
}

.footer {
  background-color: var(--footer);
  grid-area: footer;
}