:root {
  --header: rgb(54, 139, 54);
  --main: rgb(144, 238, 144);
  --sidebar: rgb(54, 158, 54);
  --footer: rgb(54, 139, 54);
  --board: rgb(54, 139, 54);
  --cell: rgb(255, 255, 255);
}

* {
  box-sizing: border-box;
  font-family: 'Inter';
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-rows: 75px 1fr 75px;
  grid-template-areas: 
    "header sidebar"
    "main sidebar"
    "footer footer";
}

.header {
  background-color: var(--header);
  grid-area: header;
  display: flex;
  align-items: center;
  padding: 10px 20px;

}

.title {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.main {
  background-color: var(--main);
  grid-area: main;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  background-color: var(--board);
  height: 400px;
  width: 400px;
  padding: 3px;
  display: flex;
  flex-flow: row wrap;
  gap: 3px;
}

.cell {
  flex: 1;
  flex-basis: 30%;
  background-color: white;
  aspect-ratio: 1 / 1;
  display: flex;
}

.sidebar {
  background-color: var(--sidebar);
  grid-area: sidebar;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 20px 10px;
}

.sidebar .title {
  font-size: 1.5rem;
  font-weight: bold;
}

.footer {
  background-color: var(--footer);
  grid-area: footer;
}